
   <!-- <div class="footer-box">
       <div class="footer-text">
           Copyright Freedom 2020
       </div>
   </div> -->
   <div class="bottom-right">
       <a href="/blogs/new">
       <img class="bottom-logo" src="https://res.cloudinary.com/sdevblog/image/upload/v1591645608/add_f5ykhf.png" alt="write">
        </a>
   </div>
  
</body>
</html>