<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Freedom</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container">
        <a class="navbar-brand brand-name" href="/">Freedom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ">
                <% if(!currentUser){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/campgrounds">Campgrounds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register"> SignUp</a>
                    </li>
                    <li class="nav-item ml-3">
                          <a class="nav-link" href="/login">Login</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/campgrounds">Campgrounds</a>
                    </li>
                    <li class="nav-item ml-3">
                       <a class="nav-link" href="#">Signed in as <%= currentUser.username %></a> 
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                <% } %>
                
                  
            </ul>
        </div>
      </nav>

      <div class="container">
       <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %> 
        </div> 
      <% } %>
           
      <% if(success && success.length >0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %> 
        </div> 
        <% } %>   
      </div>
      
    
