<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Freedom</title>
</head>
<body>
    <header>
        <div class="header-class">
            <div class="logo-container">
                <a class="logo" href="/">Freedom</a>
            </div>
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <nav>
                <ul class="nav-links">
                    <% if(!currentUser){ %>
                    <li> <a class="nav-link" href="/blogs">Blogs</a></li>
                    <li> <a class="nav-link" href="/login">Login</a></li>
                    <li> <a class="nav-link" href="/register"> Signup</a></li>
                    <% } else { %>
                    <li> <a class="nav-link" href="/blogs">Blogs</a></li>
                    <li> <a class="nav-link" href="#">Signed in as <%= currentUser.username %></a> </li>
                    <li> <a class="nav-link" href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            </nav>
            <label for="nav-toggle" class="nav-toggle-label">
                <span></span> 
            </label>
        </div>
      
    </header>

      <div class="container">
       <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %> 
        </div> 
      <% } %>
           
      <% if(success && success.length >0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %> 
        </div> 
        <% } %>   
      </div>
      
    
