<%- include('./partials/header'); -%>
<div class="box">
    <div class="box-heading">
        Forgot Password
    </div>
    <div class="align-vertical">
        <form class="form-width" action="/forgot" method="POST">
            <input class="place-holder" type="email" name="email" placeholder="Email">
            <button type="submit" class="box-button" >Reset </button>
        </form>
    </div>
</div>

