<%- include('./partials/header'); -%>
<div class="body-bg">
    <div class="landing">
        <div class="landing-tagline">
            <p>Embrace your Freedom</p>
        </div>
        
        
        <a class="all-campgrounds-link" href="/blogs">View all Blogs</a>
        
       
    </div>
    
</div>
