<%- include('./partials/header'); -%>
<div class="box">
    <div class="box-heading">
        Login
    </div>
    <div class="align-vertical">
        <form class="form-width" action="/login" method="POST">
            <label class="label-all" for="username">Username</label>
            <input class="place-holder" type="text" name="username" placeholder="Username">
            <label class="label-all" for="password">Password</label>
            <input class="place-holder" type="password" name="password" placeholder="Password">
            <input class="box-button" type="submit" value="Login!">
        </form>
    </div>
    <!-- <a class="forgot-password" href="/forgot">Forgot Password?</a> -->
    <a class="forgot-password" href="/register">Sign up here!</a>
</div>

