<%- include('./partials/header'); -%>
<div class="box">
    <div class="box-heading">
        Sign Up
    </div>
    <div class="align-vertical">
        <form class="form-width" action="/register" method="post">
            <input class="place-holder" type="text" name="username" placeholder="Username">
            <input class="place-holder" type="password" name="password" placeholder="Password">
            <button class="box-button" >Sign Up</button>
        </form>
    </div>
</div>

<%- include('./partials/footer'); -%>