<%- include('../partials/header'); -%>
<div class="box-new-edit">
    <div class="box-heading">
        Create New Blog 
    </div>
    <div class="align-vertical">
    <form action="/blogs" name="content" method="POST" enctype="multipart/form-data">
            <label class="label-all" for="image">Title</label>
            <input class="place-holder" type="text" name="name" placeholder="Blog Title" required>
            
            <label class="label-all" for="image">Image</label> 
            <input class="place-holder" type="file" id="image" name="image" accept="image/*" required>
            
            <label class="label-all" for="image">Short Description</label>
            <textarea  maxlength="120" class="place-holder" name="description" required></textarea>
            
            <label class="label-all" for="image">Blog Content</label>
            <textarea class="widgEditor" name="content" ></textarea>
            
            <button class="box-button">Submit</button>
        
    </form>
    </div>
 <a class="back-button" href="/blogs">Go Back</a> 

</div>

